
html,
body {
    margin: 0;
    height: 100%;
}

body {
    padding: 0.5em;
    box-sizing: border-box;
    // Set by Material design.
    // Not wanted for now, we keep the browser's choice for font.
    // The font of the material-select remains that one though... 🤷 ah well.
    // font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
}

// Remove :visited style from local links, like "/download".
// Does not affect external links like "https://example.org".
:visited[href^="/"] {
    color: LinkText;
}
