
:host {
    display: block;
}

.error {
    font-style: italic;
    color: #A00000;
}

.scores {
    display: grid;
    max-width: 80vw;
    margin: 0 auto;
    grid-template-columns: min(800px, 80vw);
    justify-content: center;
}
