
<article>
    @let score = score$ | async;
    @if (!score) {
        <p class="error">Score not found.</p>
    } @else {
        <header class="name"><h2>{{score.name}}</h2></header>
        @if (!score.pages.length) {
            <p class="error">This music has no pages.</p>
        } @else {
            <section class="info">
                <app-score-description [score]="score"></app-score-description>
            </section>

            <section class="score">
                <header><h3>{{scoreHeader$ | async}}</h3></header>
                <div class="pages">
                    @for (page of score.pages; track $index) {
                        <img src="{{page}}" alt="page {{$index}}" />
                    }
                </div>
            </section>
        }
    }
</article>
