
<article>
    @let score = score$ | async;
    @if (!score) {
        <p class="error">Score not found.</p>
    } @else {
        <header><h2>{{score.name}}</h2></header>
        @if (!score.pages.length) {
            <p class="error">This music has no pages.</p>
        } @else {
            @if (score.labels.size > 0) {
                <section>
                    <header><h3>{{score.labels.size}} labels:</h3></header>
                    <ul>
                        @for (label of score.labels; track $index) {
                            <li>{{label[0]}}: {{label[1]}}</li>
                        }
                    </ul>
                </section>
            }

            <section class="score">
                <header><h3>{{scoreTitle$ | async}}</h3></header>
                <div class="pages">
                    @for (page of score.pages; track $index) {
                        <img src="{{page}}" alt="page {{$index}}" />
                    }
                </div>
            </section>
        }
    }
</article>
