
<!-- TODO: allow collapsing sections. -->
<!-- TODO: add nav? -->

<h2>About Jamicionário</h2>

<p>
    The Jamicionário is a compilation of music scores for some of the most danced tunes in the Portuguese Balkfolk scene.
</p>

<p>
    This is a community effort.<br />
    Contributions are welcome!
</p>

<h3>Freely Available</h3>

<p>
    This site is Open Source and can be re-used: <a href="{{sourceInfo.source.url}}">{{sourceInfo.source.url}}</a><br />
    It was built by {{contributors}}.
</p>
<p>
    The data is <strong>Free Access</strong> and can be downloaded in bulk from the <a routerLink="/download" fragment="files">Downloads</a> page.<br />
    It was compiled by {{dataContributors}}.
</p>

<h3>Author's rights</h3>

<p>
    Author's rights to the scores belong to their composers, except for the traditional tunes.
</p>
<p>
    Traditional tunes have no owner.<br />
    Any traditional tunes shared here
        are <a href="https://en.wikipedia.org/wiki/Open_access">Open Access</a>
        and can be used without restrictions.
</p>

<h4>Further legal considerations</h4>

<p>
    <a href="https://musescore.org/">MuseScore</a> is free (and legal!).<br />
    João learned most of the tunes by ear and then painfully transcribed them into the software — <q>which, by the way, is an excellent way to memorize them</q>.<br />
    Money is not a factor here, the Jamictionary is not for sale. It was created because the rain wouldn't stop in November 2022, and João wanted a way to pass the time.<br />
    Unless we find out otherwise, all of this work is legal.
</p>

<h3>Origin</h3>

<p>
    The first version of the Jamicionário was created by João Valente in PDF.<br />
    They collected the tunes that seemed to be the most popular in the 2010 and 2020s Portuguese Bal Folk universe.
</p>

<p>
    From there, a wild dream came: what if we could make it searchable, groupable by categories, easy to share!?…<br />
    That is where this website was born.
</p>

<h2>The what and why</h2>

<p>
    The goal of the Jamictionary is to achieve a minimum common repertoire in the Portuguese Balfolk jam sessions.<br />
    Up to a point, it follows the blueprint of jazz's reference jam session book, “The Real Book.” 
</p>

<p>
    It then abandons the binding to exist as a shared folder on the internet that you can save on your computer.<br />
    All tunes are saved as a MuseScore file.<br />
    MuseScore is a software that allows you to edit the tunes, so we can create multiple versions of one score.
</p>

<p>
    There are no standards for the tunes—the melodies and chords that have been provided are only suggestions.
</p>

<h2>The future</h2>

<p>
    If everything goes well, the Portuguese jam sessions will get much livelier and they will be a meeting place for different generations and musical logics.<br />
    There will be updates with more tunes and dance genres.<br />
    It'll be a party.
</p>

<p>
    If everything goes poorly, this will be just another half-hidden musical database,
    and a handful of people will use it for gigs without ever mentioning its existence.<br />
    Alea iacta est!
</p>

<p>
    Let's jam!
</p>