
<h2>The Jamicionário</h2>

<p>
    The Jamicionário is a compilation of music scores for some of the most danced tunes in the Portuguese Balkfolk scene.<br />
    The first version was created by João Valente, who collected the tunes that seemed to be the most popular in the 2010 and 2020s Portuguese Bal Folk universe.<br />
    It was in PDF format.
</p>

<p>
    From there, a wild dream came: what if we could make it searchable, groupable by categories, easy to share!?l...<br />
    That is where this website was born.
</p>


<h2>The what and why</h2>

<p>
    The goal of the Jamictionary is to achieve a minimum common repertoire in the Portuguese Balfolk jam sessions. Up to a point, it follows the blueprint of
    jazz's reference jam session book, “The Real Book.” It then abandons the binding to exist as a shared folder on the internet that you can save on your
    computer. Each tune has two files: a PDF file and a MuseScore file. MuseScore is a software that allows you to edit the tunes, so we can create multiple
    versions of one score. There are no standards for the tunes—the melodies and chords that have been provided are only suggestions.
</p>

<h2>Legal considerations</h2>

<p>
    MuseScore is free (and legal!). João learned most of the tunes by ear and then painfully transcribed them into the software (which, by the way, is an excellent
    way to memorize them). Money is not a factor here, the Jamictionary is not for sale. It was created because the rain wouldn't stop in November 2022, and
    João wanted a way to pass the time. Unless we find out otherwise, all of this work is legal.
</p>

<h2>How it is organized</h2>

<p>
    The Jamictionary is divided into Foreign and Portuguese tunes, and each of these sections has two subsections: the dance families (mazurka, waltz,
    bourrée, etc.) and the singles. “Singles” is a word I'm using to refer to tunes that are specific to certain dances (Tzadik Katamar, Sept Sauts, etc.). That
    separation already exists in traditional Irish folk music, and they refer to “singles” as “set dances.”
</p>

<h2>The future</h2>

<p>
If everything goes well, the Portuguese jam sessions will get much livelier and they will be a meeting place for different generations and musical logics.
There will be updates with more tunes and dance genres. It'll be a party. If everything goes poorly, this will be just another half-hidden musical database,
and a handful of people will use it for gigs without ever mentioning its existence. Alea iacta est!
</p>

<p>Let's jam!</p>
