
:host {
    display: block;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;
    margin-top: 1em;

    a {
        text-decoration: none;
        app-category-card {
            border: solid 1px;
        }
    }
}
