
@if (!categories.length) {
    <p>
        <span class="missing data">No categories found.</span>
        <br />
        Try searching in <a routerLink="/scores">all scores</a>.
    </p>
} @else {
    {{ categories.length | pluralize: "category": "categories" }}
    <section class="card-list">
        @for (category of categories; track $index) {
            <!-- Using routerLink array to ensure that slashes etc are escaped. -->
            <a [routerLink]="['/categories', category.name]"><app-category-card [category]="category"
                ></app-category-card></a>
        }
    </section>
}
