@use 'section-margins';

:host {
    display: block;
}

:link.active {
    font-weight: bold;
}

.label-filter {
    display: grid;
    grid-template-columns: subgrid;
    grid-column-end: span 2;
    align-items: center;
}

.selectionType {
    margin: section-margins.$margin;
}
