<ng-container *ngTemplateOutlet="tree; context:{branches: groups}">
</ng-container>

<ng-template #tree let-branches="branches">
  <ul *ngIf="branches.length > 0">
    @for (branch of branches; track $index) {
        <li>
            <span>{{branch.name}}</span>
            <ul *ngIf="branch.leaves.length > 0">
                <li *ngFor="let leaf of branch.leaves">
                    {{leaf.Number}} <a href="/scores/{{leaf.number}}">{{leaf.name}}</a>
                </li>
            </ul>
            <ng-container *ngTemplateOutlet="tree;context:{branches: branch.branches}">
            </ng-container>
        </li>
    }
  </ul>
</ng-template>
