$bodyDefinition: minmax(100px, 1fr);

:host {
    display: grid;
    gap: 1em;
    grid-template-rows: auto $bodyDefinition auto;
    
    // This ensures the footer stays at the bottom of the page.
    min-height: 100%;

    &.jam-mode {
      grid-template-rows: auto $bodyDefinition;
        header {
            display: flex;
            gap: 1em;
            h1 {
                all: unset;
                font-size: large;
                display: none;
            }
        }
        app-footer {
            display: none;
        }
    }
}

app-jam-mode-toggler {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    font-size: large;
}

app-footer {
    justify-self: center;
}