:host {
    display: block;
}

header::before {
    content: "work in progress";
    position: absolute;
    right: 0;
    top: 0;

    background-color: #689F38;
    border-radius: 0 0 0 10px;
    color: white;
    padding: 0.5em 1.5em;
}

nav ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    font-size: large;
}

.page {
    margin-top: 1em;
}

