:host {
    display: grid;
    grid-template-rows: auto 1fr;

    &.jam-mode {
        header {
            display: flex;
            gap: 1em;
            h1 {
                all: unset;
                font-size: large;
                display: none;
            }
        }
    }
}

header::before {
    content: "work in progress";
    position: fixed;
    right: 0;
    top: 0;

    background-color: #689F38;
    border-radius: 0 0 0 10px;
    color: white;
    padding: 0.5em 1.5em;
}

app-jam-mode-toggler {
    position: fixed;
    right: 0;
    top: 40px;
    border-radius: 15px 0 0 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    font-size: large;
}

.page {
    margin-top: 1em;
}