
<nav>
    <header><h3>Available scores</h3></header>

    <div class="selectionType">
        <label>
            <input type="radio"
                [checked]="selectionType === SelectionType.List"
                (change)="changeSelectionTypeTo(SelectionType.List)"
                />
            Show as list
        </label>
        <label>
            <input type="radio"
                [checked]="selectionType === SelectionType.Tree"
                (change)="changeSelectionTypeTo(SelectionType.Tree)"
                />
            Show as tree
        </label>
    </div>

    @switch (selectionType) {
        @case (SelectionType.Tree) {
            <app-tree [groups]="groupedScores"></app-tree>
        }
        @default {
            <ol>
                @for (score of scores; track $index) {
                    <li><a href="/scores/{{score.Number}}">{{score.Name}}</a></li>
                }
            </ol>
        }
    }
</nav>

<router-outlet />
