<p>
    The full Jamicionário can be downloaded:
</p>

<ul>
    <li>
        <a href="Jamicionario.pdf" target="_blank">As PDF</a>, ~10 MB
         — the full Jamicionário, with bookmarks.
    </li>
    <li>
        <a href="Jamicionario - all MSCZ.zip" target="_blank">As MSCZ</a>, ~9 MB
         — a zip file with the MuseScore<a routerLink="/download" fragment="footnote-1" class="footnote"> ¹</a> files for all the available scores.
    </li>
</ul>


<aside class="footnotes">
    <p id="footnote-1">
        <span class="footnote">¹</span> MuseScore files:<br />
        The MuseScore files are the master files from which all the site's data was generated.<br />
        They are editable using <a href="https://musescore.org">MuseScore Studio</a>.
    </p>
</aside>
